/* google fonts work sans added */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.full-nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.container {
    width: 80%;
    margin: 20px auto;
}

h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

h1 {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin: 25px 0px;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-flex-reverse {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-flex img {
    margin-right: 5px;
}

.container-flex li {
    list-style: none;
    margin-right: 30px;
}

.light-violet {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-flex>li>a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.header-btn {
    border: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 20px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);

}

.btn-secondary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    border-radius: 48px;
    background: #4EC5F7;

}

.header-btn i {
    margin-left: 10px;
}

.fa-youtube {
    color: red;
}

.header-banner>p {
    margin: 10px 0px;
}

/* extra ordinary section */
.extra-ordinary {
    text-align: end;
}

/* funny videos section */

.funny-videos-title {
    text-align: center;
}

.funny-videos-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 90%;
    margin: auto;
    position: relative;
}

.box {
    height: 300px;
    width: 250px;
    position: relative;
}

.box img {
    width: 100%;
}

.box-img {
    display: block;
    width: 100%;
    height: auto;
}

.box-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98%;
    width: 100%;
    border-radius: 15px;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);

}

.box:hover .box-overlay {
    opacity: 1;
}

.box-text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.play-instant {
    position: relative;
    /* bottom: -200px;
    left: -200px; */
}

.play-instant-title {
    position: absolute;
    width: 50%;
    margin: auto;
    padding: 0px 20px;
    left: 10%;
    bottom: -400px;
    /* top: 50%; */
}

.hores-img {
    width: 400px;
    position: absolute;
    right: 0px;
    top: 100px;
}

.hores-doll {
    width: 200px;
    position: absolute;
    right: 25%;
    top: 350px;
}

/* tab box */
.tab-container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-container-position {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    position: absolute;
    top: 650px;

}

.tab-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    padding: 5px;
}

.tab-box:hover {
    border: 1px solid crimson;
    border-radius: 30px;
    color: #FF42A5;
}










/* for mobile devices */
@media screen and (max-width:576px) {
    .container {
        width: 95%;
        margin: 10px auto;
    }

    .container-flex {
        display: flex;
        flex-direction: column;
    }

    .container-flex-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .btn-primary {
        padding: 11px 20px;
    }

    .btn-secondary {
        padding: 11px 20px;
    }

    .banner-img {
        width: 80%;
    }

    .extra-ordinary {
        text-align: center;
    }

    .extra-ordinary-img {
        width: 90%;
    }

    .funny-videos-boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }

    .play-instant {
        position: relative;
        top: 1%;
        left: 0;
    }

    .play-instant-title {
        width: 80%;
        position: absolute;
        top: 100px;
    }


    .hores-img {
        width: 300px;
        top: 450px;
    }

    .hores-doll {
        width: 150px;
        left: -1px;
        top: 620px;
    }

    .tab-container-position {
        grid-template-columns: repeat(2, 1fr);
        top: 800px;
    }
}

/* for tablet devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .container {
        width: 95%;
        margin: 10px auto;
    }

    .container-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .container-flex-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .btn-primary {
        padding: 15px 20px;
    }

    .btn-secondary {
        padding: 15px 20px;
    }

    .banner-img {
        width: 90%;
    }

    h2 {

        font-size: 30px;
    }

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 10px;
    }

    .extra-ordinary-img {
        width: 90%;
    }

    .extra-ordinary {
        text-align: center;
    }

    .funny-videos-boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .play-instant-title {
        left: -2%;

    }

    .hores-img {
        width: 300px;
    }

    .hores-doll {
        width: 160px;
        top: 250px;
    }

    .tab-container-position {
        grid-template-columns: repeat(3, 1fr);
    }
}